<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Webpage</title>
</head>
<body>
   <h1>The MODIfied India</h1>

   <blockquote cite="https://indianexpress.com/article/india/narendra-modi-prime-minister-motion-of-thanks-on-presidents-address-top-quotes-rajya-sabha-5800924/">
        Replying to the ‘Motion of Thanks’ on the President’s address in the Rajya Sabha, Prime Minister Narendra Modi on Wednesday broke
        his silence on the Jharkhand mob lynching case and also on the encephalitis deaths in Bihar, saying that both the incidents had 
        pained him.
    </blockquote>

   <p>In this page we will discuss about india's current recession</p>
   <p>We are discussing this problem as it resulted in loss of around 15 lakh jobs in India</p>
    
    <p>lets take some input for our fields</p>
    <input type="text" placeholder="name"><br>
    <input type="password" placeholder="password"><br>
    <input type="submit" placeholder="submit"><br>
    
    <table>
        <tr>
            <th> Sector </th>
            <th> &nbsp;Growth_2018 </th>
            <th> &nbsp;Growth_2019 </th>
            <th> &nbsp;Total_Growth </th>
        </tr>
        <tr>
            <td> Manufacture </td>
            <td> &nbsp;12.1% </td>
            <td> &nbsp;0.6% </td>
            <td> &nbsp;-11.5% </td>
        </tr>
        <tr>
            <td> Agriculture </td>
            <td> &nbsp;&nbsp;&nbsp;5.1% </td>
            <td> &nbsp;&nbsp;&nbsp;2.0% </td>
            <td> &nbsp;&nbsp;&nbsp;-3.1% </td>
        </tr>
        <tr>
            <td> Textile </td>
            <td> &nbsp;&nbsp;&nbsp;- </td>
            <td> &nbsp;&nbsp;&nbsp;- </td>
            <td> &nbsp;&nbsp;&nbsp;- </td>
        </tr>
        <tr>
            <td> Construction </td>
            <td> &nbsp;&nbsp;&nbsp;9.6% </td>
            <td> &nbsp;&nbsp;&nbsp;5.4% </td>
            <td> &nbsp;&nbsp;&nbsp;-4.2% </td>
        </tr>

    </table>
    <h2> Fall of GDP Quarter wise in FY 2018-2019: </h2>
    <table>
        <tr>
            <th>&nbsp;Q1 (April-June)</th>
            <th>&nbsp;Q2 (July-Sept)</th>
            <th>&nbsp;Q3 (Oct-Dec)</th>
            <th>&nbsp;Q4 (Jan-Mar)</th>
            <th>&nbsp;Q1 (April-June)</th>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp; 8.0% </td>
            <td>&nbsp;&nbsp;&nbsp; 7.0% </td>
            <td>&nbsp;&nbsp;&nbsp; 6.6% </td>
            <td>&nbsp;&nbsp;&nbsp; 5.8% </td>
            <td>&nbsp;&nbsp;&nbsp; 5.0% </td>
        </tr>
    </table>

    <h4> Government 100 days achievements: </h4>
    <ul>
        <li> Abrogating Article 370 </li>
        <li> Abolishing triple talaq </li>
        <li> Amending NIA, UAPA </li>
        <li> NMC </li>
        <li> POSCO </li>
        <li> Amending the IBC </li>
        <li> New MVA </li>
        <li> 1 Rupee Sanitary Pads </li>
    </ul><br>
    <h4>Blunders by Government in 100 days: </h4>
    <ol>
        <li> Kashmir Lockdown </li>
        <li> Recession Blunders </li>
        <li> jobs cut </li>
        <li> Vendatta politics </li>
        <li> increased crimes </li>
    </ol>
 
</body>
</html> 